<form method="post" action="/create_tag">

  <input name="tag[name]" type="text">
  <br>

  <% @tags.each do |tag| %>
    <input type="checkbox" name="item[tag_id][]" value="<%= tag.id %>">
    <%= tag.name %>
    <br>
    <% end %>
    <br>

  <button>Save Tag</button>
</form>

