<form method="post" action="/save_tag/<%= @tag.id %>">

  Tag:<br>
  <% Tag.all.each do |actor| %>
    <input type="checkbox" name="tag[tag_ids][]" value="<%= tag.id %>">
    <%= actor.name %>
    <br>
  <% end %>
  <br>

  <button>Save Tag</button>
</form>