<form method="post" action="/new_potluck">
  <label>Name</label>
  <input type="text" name="potluck[name]">
  <label>Date</label>
  <input type="text" name="potluck[date]">
  <button>create</button>
</form>