<form method="post" action="/new_item/<%= @potluck_id %>">
  Item:
  <input type="text" name="item[name]">
  <br>
  Guest:
  <input type="text" name="user[name]">

  <button>Save item</button>
</form>

